<h2>By country</h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)="handleSubmit()">
            <input type="text"
                   class="form-control"
                   placeholder="Write a country"
                   [(ngModel)]="term"
                   name="term">
        </form>
    </div>
</div>


<hr>

<div class="alert alert-danger">
    We found nothing!
</div>


<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Flag</th>
                    <th>Name</th>
                    <th>Population</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Flag</td>
                    <td>Flag</td>
                    <td>Flag</td>
                    <td>
                        <a href="/pais/cri">View detail</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>