<h3>
    Search by region
    <small>{{activeRegion | titlecase}}</small>

    <h5>Selecciona la región</h5>

    <div class="row">
        <div class="col">
            <button *ngFor="let region of regions"
                    [class]="region === activeRegion ? 'btn btn-primary' : 'btn btn-outline-primary'"
                    (click)="setActiveRegion(region)">
                    {{region | uppercase}}
            </button>
        </div>
    </div>

    <div>
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</h3>